#!/bin/sh
#
# Generic script for retrieving update logs
#
# Copyright (c) 2013-2016 Alex Williams, Unscramble. See the LICENSE file (MIT).
# https://unscramble.co.jp
#
# VERSION: {{ jidoteki_admin_version }}

set -u
set -e

if [ -f "/tmp/update_logs.sh.task" ]; then
  echo "already running"
  exit 1
fi
touch /tmp/update_logs.sh.task

source /etc/profile

admin_dir="{{ admin_path }}"
log_file="/tmp/logs.tar.gz"
log_dirs="${admin_dir}/log ${1}"

fail_and_exit() {
  rm -f /tmp/update_logs.sh.task
  echo "[`date +%s`][{{ admin_type }}] Invalid or missing log file" 2>&1 | tee -a "${admin_dir}/log/update_logs.log"
  exit 1
}

################

compress_log_files() {
  echo "[`date +%s`][{{ admin_type }}] Generating compressed logs.tar.gz. Please wait.." 2>&1
  tar --ignore-failed-read -zcf $log_file ${log_dirs}
  chmod 640 $log_file ; chown 0:997 $log_file
  mv -f $log_file ${admin_dir}/home/sftp/uploads/
  echo "[`date +%s`][{{ admin_type }}] Generated logs successful" 2>&1
}

################

compress_log_files || fail_and_exit

rm -f /tmp/update_logs.sh.task

exit 0
