#!/bin/sh
#
# Generic script for updating an API token
#
# Copyright (c) 2013-2016 Alex Williams, Unscramble. See the LICENSE file (MIT).
# https://unscramble.co.jp
#
# VERSION: {{ jidoteki_admin_version }}

set -u
set -e

if [ -f "/tmp/update_token.sh.task" ]; then
  echo "already running"
  exit 1
fi
touch /tmp/update_token.sh.task

admin_dir="{{ admin_path }}"
uploads_dir="${admin_dir}/home/sftp/uploads"

fail_and_exit() {
  rm -f /tmp/update_token.sh.task
  echo "[`date +%s`][{{ admin_type }}] Invalid or missing API token file" 2>&1 | tee -a "${admin_dir}/log/update_token.log"
  exit 1
}

################

move_api_token() {
  cd "${uploads_dir}"

  if [ ! -f "api.token" ]; then return 1; fi

  echo "[`date +%s`][{{ admin_type }}] Updating API token. Please wait.." 2>&1 | tee -a "${admin_dir}/log/update_token.log"
  mv -f api.token ${admin_dir}/etc/
  chmod 660 "${admin_dir}/etc/api.token" ; chown 0:997 "${admin_dir}/etc/api.token"
  echo "[`date +%s`][{{ admin_type }}] Updating API token successful" 2>&1 | tee -a "${admin_dir}/log/update_token.log"
}

################

move_api_token || fail_and_exit

rm -f /tmp/update_token.sh.task

exit 0
