#!/bin/sh
#
# Generic script for updating the network and app settings
#
# Copyright (c) 2013-2016 Alex Williams, Unscramble. See the LICENSE file (MIT).
# https://unscramble.co.jp
#
# VERSION: {{ jidoteki_admin_version }}

set -u
set -e

if [ -f "/tmp/update_settings.sh.task" ]; then
  echo "already running"
  exit 1
fi
touch /tmp/update_settings.sh.task

admin_dir="{{ admin_path }}"
uploads_dir="${admin_dir}/home/sftp/uploads"
network_type=$1

fail_and_exit() {
  rm -f /tmp/update_settings.sh.task
  echo "[`date +%s`][{{ admin_type }}] Invalid or missing settings file" 2>&1 | tee -a "${admin_dir}/log/update_settings.log"
  exit 1
}

################

move_settings_files() {
  cd "${uploads_dir}"

  if [[ ! -f "app.json" && ! -f "network.json" && ! -f "network.conf" ]]; then return 1; fi

  if [ -f "app.json" ]; then
    mv -f app.json ${admin_dir}/etc/
    chmod 640 "${admin_dir}/etc/app.json" ; chown root:admin "${admin_dir}/etc/app.json"
  fi

  if [ -f "network.json" ]; then
    mv -f network.json ${admin_dir}/etc/
    chmod 640 "${admin_dir}/etc/network.json" ; chown root:admin "${admin_dir}/etc/network.json"
  fi

  if [ -f "network.conf" ]; then
    mv -f network.conf /usr/local/etc/
    chmod 640 "/usr/local/etc/network.conf" ; chown root:admin "/usr/local/etc/network.conf"
  fi
}

save_network_settings() {
  ${admin_dir}/bin/network.sh $network_type || return 1
}

################

# Run all the tasks
echo "[`date +%s`][{{ admin_type }}] Updating settings. Please wait.." 2>&1 | tee -a "${admin_dir}/log/update_settings.log"

move_settings_files && \
save_network_settings || fail_and_exit

echo "[`date +%s`][{{ admin_type }}] Updating settings successful" 2>&1 | tee -a "${admin_dir}/log/update_settings.log"

rm -f /tmp/update_settings.sh.task

exit 0
