#!/bin/sh
#
# Wrapper for executing admin commands on a {{ admin_type_lowcase }}
#
# Copyright (c) 2013-2016 Alex Williams, Unscramble. See the LICENSE file (MIT).
# https://unscramble.co.jp
#
# VERSION: {{ jidoteki_admin_version }}

set -u
set -e

admin_dir="{{ admin_path }}"

backup_data() {
  if [ -f "/usr/bin/filetool.sh" ]; then
    sudo /usr/bin/filetool.sh -b -s
  fi
}

case "${SSH_ORIGINAL_COMMAND}" in
  "update")
    sudo ${admin_dir}/bin/update_vm.sh && \
    backup_data
    ;;
  "version")
    [ -f "${admin_dir}/etc/version.txt" ] && cat ${admin_dir}/etc/version.txt
    ;;
  "changelog")
    [ -f "${admin_dir}/etc/changelog.txt" ] && cat ${admin_dir}/etc/changelog.txt
    ;;
  "license")
    sudo ${admin_dir}/bin/update_license.sh && \
    backup_data
    ;;
  "settings static")
    sudo ${admin_dir}/bin/update_settings.sh static && \
    backup_data
    ;;
  "settings dhcp")
    sudo ${admin_dir}/bin/update_settings.sh dhcp && \
    backup_data
    ;;
  "token")
    sudo ${admin_dir}/bin/update_token.sh && \
    backup_data
    ;;
  "logs")
    [ -f "${admin_dir}/etc/logs.txt" ] && sudo ${admin_dir}/bin/update_logs.sh "$(cat ${admin_dir}/etc/logs.txt)"
    ;;
  "reboot")
    backup_data && \
    sudo reboot
    ;;
  "debug")
    [ -f "${admin_dir}/etc/logs.txt" ] && sudo ${admin_dir}/bin/update_logs.sh "$(cat ${admin_dir}/etc/logs.txt)"
    [ -f "${admin_dir}/etc/debug.txt" ] && sudo ${admin_dir}/bin/update_debug.sh "$(cat ${admin_dir}/etc/debug.txt)"
    ;;
  "certs")
    sudo ${admin_dir}/bin/update_certs.sh && \
    backup_data
    ;;
  "services")
    sudo ${admin_dir}/bin/update_services.sh "FETCH"
    ;;
  "storage")
    sudo ${admin_dir}/bin/update_storage.sh && \
    backup_data
    ;;
  *)
    exit 1
    ;;
esac
